.se-clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.simply-events-calendar .se-input {
	border: none;
	background: none;
}

.simply-events-calendar .se-button {
	outline: none;
}

.simply-events-calendar .se-label {
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
}

.simply-events-calendar .se-title {
	font-weight: 600;
}
.simply-events-calendar .se-title:after {
	content: '';
	display: block;
	border: 1px solid;
}

.simply-events-calendar {
	word-wrap: normal;
	font-size: 13px;
	background: #4682b4;
}

.simply-events-calendar .hide {
	display: none !important;
}

.simply-events-calendar .se-calendar-header {
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
}

.simply-events-calendar .se-calendar-header .se-calendar-header__title,
.simply-events-calendar .se-calendar-header .se-calendar-header__fullscreen {
	display: inline-block;
	vertical-align: text-top;
}

.simply-events-calendar .se-calendar-header .se-calendar-header__title {
	margin-bottom: 1.5em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	width: 80%;
}

.simply-events-calendar .se-calendar-header .se-calendar-header__fullscreen {
	width: 20%;
	cursor: pointer;
	text-align: right;
}

.simply-events-calendar .calendar-content .calendar-filters-wrap {
    position: absolute;
    visibility: hidden;
    margin-bottom: 10px;
    opacity: 0;
}

.simply-events-calendar.fullscreen .calendar-content .calendar-filters-wrap .se-label {
	color: #509bb9;
}

.simply-events-calendar .calendar-content .calendar-filters-wrap .se-calendar-filter {
	border-bottom: 2px solid #509bb9;
	margin: 0;
	border-radius: 0;
	color: #509bb9;
	transition: background 0.2s ease-out;
}
.simply-events-calendar .calendar-content .calendar-filters-wrap .se-calendar-filter:focus {
	background: #f0f8ff;
}

.simply-events-calendar .calendar-content .calendar-content__date-controls {
	margin-bottom: 10px;
	text-align: center;
	white-space: nowrap;
}

.simply-events-calendar .calendar-content__date-controls .date-control,
.simply-events-calendar .calendar-content__date-controls .date-selectors,
.simply-events-calendar .calendar-content__date-controls .date-selectors .month-selector,
.simply-events-calendar .calendar-content__date-controls .date-selectors .year-selector {
	display: inline-block;
}

.simply-events-calendar .calendar-content__date-controls .date-control {
	width: 10%;
    background: none;
}

.simply-events-calendar .calendar-content__date-controls .date-selectors {
	width: 80%;
}

.simply-events-calendar .calendar-content__date-controls .date-selectors .month-selector,
.simply-events-calendar .calendar-content__date-controls .date-selectors .year-selector {
	margin: 0 5px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding: 5px 0;
    width: 35%;
    text-align:center;
    color: #fff;
    font-size: 12px;
    transition: background 0.2s ease-out;
}
.simply-events-calendar .calendar-content__date-controls .date-selectors .month-selector:focus,
.simply-events-calendar .calendar-content__date-controls .date-selectors .year-selector:focus {
	background: #5998cc;
}

.simply-events-calendar .date-control {
	padding: 5px;
}

.simply-events-calendar .date-control > .dashicons {
	font-size: 15px;
	width: 15px;
	height: 15px;
}

.simply-events-calendar .calendar-events-views .events {
	position: absolute;
	width: 250px;
	border: 1px solid #3972a2;
    background-color: #c6e4f9;
	border-radius: 2px;
	height: 300px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
}

.simply-events-calendar .calendar-events-views .events .close-events {
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #4682b4;
    z-index: 1;
}

.simply-events-calendar .calendar-events-views .events .event-items {
	height: 100%;
	position: relative;
    background-color: #fff;
	overflow: hidden;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .simply-events-item__content {
    position: absolute;
    left: 0px;
    right: -17px;
    bottom: 0px;
    top: 35px;
    overflow-y: scroll;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-media {
	margin: 0px 5px 5px 5px;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-media img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 2px;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-title {
	font-weight: 600;
    background: #589cd4;
    color: white;
    text-align: center;
    padding: 5px;
    padding: 5px 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-detail-block {
	margin-bottom: 10px;
	color: #316896;
	padding: 0px 15px;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item  .event-location {
	margin-top: 10px;
}

.simply-events-calendar .event-recurring-label {
	font-size: 11px;
    padding: 2px;
    background: #CDDC39;
    color: #8a9619;
    border: 1px solid #b5c236;
    border-radius: 2px;
    margin-top: 3px;
    display: inline-block;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-desc {
	padding: 15px;
	word-wrap: break-word;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-desc > * {
	margin: 0;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-link {
	text-align: center;
	background: #8fbc8f;
	margin: 10px;
	padding: 5px;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .event-link a {
	color: #fff;
	display: block;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .se-icon,
.simply-events-calendar .calendar-events-views .events .simply-events-item .se-text {
	display: inline-block;
	vertical-align: top;
}

.simply-events-calendar .calendar-events-views .events .simply-events-item .se-text {
	width: 80%;
	padding-left: 5px;
    word-wrap: break-word;
}

.simply-events-calendar .event-item-selector.previous,
.simply-events-calendar .event-item-selector.next {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    color: #4682b4;
    text-align: center;
    padding: 0;
    top: 3px;
    display: inline-block;
    background: none;
    z-index: 1;
}

.simply-events-calendar .event-item-selector span {
    font-size: 15px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.simply-events-calendar .calendar-events-views .events .event-item-selector.previous {
	left: 5px;
}

.simply-events-calendar .calendar-events-views .events .event-item-selector.next {
	left: 25px;
}

/* Bubble arrow */
.simply-events-calendar .calendar-events-views .events:before,
.simply-events-calendar .calendar-events-views .events:after {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
	box-sizing: border-box;
}

.simply-events-calendar .calendar-events-views .events:before {
	border: 10px solid;
	border-color: transparent transparent #3972a2 #3972a2;
	box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.simply-events-calendar .calendar-events-views .events:after {
	border: 9px solid;
	border-color:  transparent transparent #c6e4f9 #c6e4f9;
}

/* top arrow common properties */
.simply-events-calendar .calendar-events-views .events[data-position^="bottom"]:before {
	top: -10px;
	/* no shadow */
}
.simply-events-calendar .calendar-events-views .events[data-position^="bottom"]:after {
	top: -9px;
}
/* top center arrow */
.simply-events-calendar .calendar-events-views .events[data-position="bottom"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="bottom"]:after {
	transform: translateX(-50%) rotate(135deg);
	left: 50%;
}
/* remove centering for non center position */
.simply-events-calendar .calendar-events-views .events[data-position^="bottom-"]:before,
.simply-events-calendar .calendar-events-views .events[data-position^="bottom-"]:after {
	transform: rotate(135deg);
}

/* bottom arrow common properties */
.simply-events-calendar .calendar-events-views .events[data-position^="top"]:before {
	bottom: -10px;
}
.simply-events-calendar .calendar-events-views .events[data-position^="top"]:after {
	bottom: -9px;
}
/* bottom center arrow */
.simply-events-calendar .calendar-events-views .events[data-position="top"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="top"]:after {
	transform: translateX(-50%) rotate(-45deg);
	left: 50%;
}
/* remove centering for non center position */
.simply-events-calendar .calendar-events-views .events[data-position^="top-"]:before,
.simply-events-calendar .calendar-events-views .events[data-position^="top-"]:after {
	transform: rotate(-45deg);
}

/* top and bottom box position with left or right arrow common properties */
.simply-events-calendar .calendar-events-views .events[data-position="top-left"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="bottom-left"]:before {
	left: 8px;
}
.simply-events-calendar .calendar-events-views .events[data-position="top-left"]:after,
.simply-events-calendar .calendar-events-views .events[data-position="bottom-left"]:after {
	left: 9px;
}
.simply-events-calendar .calendar-events-views .events[data-position="top-right"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="bottom-right"]:before {
	right: 8px;
}
.simply-events-calendar .calendar-events-views .events[data-position="top-right"]:after,
.simply-events-calendar .calendar-events-views .events[data-position="bottom-right"]:after {
	right: 9px;
}

/* left arrow common properties */
.simply-events-calendar .calendar-events-views .events[data-position^="right"]:before {
	left: -10px;
}
.simply-events-calendar .calendar-events-views .events[data-position^="right"]:after {
	left: -9px;
}
/* left center arrow */
.simply-events-calendar .calendar-events-views .events[data-position="right"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="right"]:after {
	transform: translateY(-50%) rotate(45deg);
	top: 50%;
}
/* remove centering for non center position */
.simply-events-calendar .calendar-events-views .events[data-position^="right-"]:before,
.simply-events-calendar .calendar-events-views .events[data-position^="right-"]:after {
	transform: rotate(45deg);
}

/* right arrow common properties */
.simply-events-calendar .calendar-events-views .events[data-position^="left"]:before {
	right: -10px;
}
.simply-events-calendar .calendar-events-views .events[data-position^="left"]:after {
	right: -9px;
}
/* right center arrow */
.simply-events-calendar .calendar-events-views .events[data-position="left"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="left"]:after {
	transform: translateY(-50%) rotate(-135deg);
	top: 50%;
}
/* remove centering for non center position */
.simply-events-calendar .calendar-events-views .events[data-position^="left-"]:before,
.simply-events-calendar .calendar-events-views .events[data-position^="left-"]:after {
	transform: rotate(-135deg);
}

/* left and right box position with top or bottom common properties */
.simply-events-calendar .calendar-events-views .events[data-position="right-top"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="left-top"]:before {
	top: 8px;
}
.simply-events-calendar .calendar-events-views .events[data-position="right-top"]:after,
.simply-events-calendar .calendar-events-views .events[data-position="left-top"]:after {
	top: 9px;
}
.simply-events-calendar .calendar-events-views .events[data-position="right-bottom"]:before,
.simply-events-calendar .calendar-events-views .events[data-position="left-bottom"]:before {
	bottom: 8px;
}
.simply-events-calendar .calendar-events-views .events[data-position="right-bottom"]:after,
.simply-events-calendar .calendar-events-views .events[data-position="left-bottom"]:after {
	bottom: 9px;
}

/* calendar content */
.simply-events-calendar .calendar-content {
	width: 100%;
}

.simply-events-calendar table.calendar-events-table {
	height: 100%;
	border-collapse: collapse;
}

.simply-events-calendar table.calendar-events-table > thead {
	background: #316896;
    /*border-bottom: 1px solid #34658e;*/
    color: #fff;
    color: #89aac5;
}

.simply-events-calendar table.calendar-events-table > thead abbr {
	border: none;
	text-decoration: none;
}

.simply-events-calendar table.calendar-events-table,
.simply-events-calendar table.calendar-events-table th,
.simply-events-calendar table.calendar-events-table td {
	border: none;
	text-align: center;
	overflow: hidden;
}

.simply-events-calendar table.calendar-events-table > tbody {
    border-bottom: 1px solid #e2eaf1;
    background: #f2f7fb;
    color: #34658e;
}

.simply-events-calendar .calendar-events-table .calendar-date {
	vertical-align: middle;
	transition: all 0.2s ease-out;
}

.simply-events-calendar .calendar-events-table .calendar-date.is-disabled {
	opacity: 0.4;
}

.simply-events-calendar .calendar-events-table .calendar-date.is-current:after {
	content: '';
    display: block;
    border: 1px solid #63baff;
    margin-top: 1px;
}

.simply-events-calendar .calendar-events-table .calendar-date[data-has-event="true"] {
	cursor: pointer;
    background: #b0c4de;
    color: #fff;
}
.simply-events-calendar .calendar-events-table .calendar-date[data-has-event="true"][data-event-status="near-pass"] {
	background: #fdcb35;
}

.simply-events-calendar .calendar-events-table .calendar-date[data-has-event="true"][data-event-status="passed"] {
	background: #fa8072;
}

/* fullscreen mode */
.simply-events-calendar.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: #87ceeb;
    /*padding: 20px; */
    overflow: scroll;
}

/* logged in with admin bar move the content down by 32 px (height of admin bar) */
body.logged-in.admin-bar .simply-events-calendar.fullscreen {
	top: 32px;
}

.simply-events-calendar.fullscreen .calendar-content {
	display: flex;
	min-height: 470px;
	height: 88%;
}

.simply-events-calendar.fullscreen .calendar-content .calendar-content__calendar-table-wrap,
.simply-events-calendar.fullscreen .calendar-content .calendar-events-views {
	width: 50%;
}

.calendar-content__calendar-table-wrap .calendar-events-table-wrapper {
	flex: 1;
}

.simply-events-calendar.fullscreen .calendar-content .calendar-content__calendar-table-wrap {
	display: flex;
	flex-flow: column nowrap;
}

.simply-events-calendar.fullscreen .calendar-content .calendar-filters-wrap {
    position: relative;
    visibility: visible;
    opacity: 1;
}

.simply-events-calendar.fullscreen .calendar-events-views {
	position: relative;
}

.simply-events-calendar.fullscreen .simply-events-calendar-events {
	position: relative;
	width: 100%;
	/*height: 100%;*/
	border: none;
	top: 0 !important;
	left: 0 !important;
	box-shadow: none;
}

.simply-events-calendar.fullscreen .simply-events-calendar-events:before,
.simply-events-calendar.fullscreen .simply-events-calendar-events:after {
	display: none;
}

.simply-events-calendar.fullscreen .simply-events-calendar-events .event-item-selector {
	/*display: none;*/
}

.simply-events-calendar.fullscreen .simply-events-calendar-events .event-items {
	margin-left: 0;
}

/* load spinner */
.simply-events-loadspinner.sls-wrapper {

}

.simply-events-loadspinner.sls-wrapper > .sls-animate-wrapper > .sls-loader-dot {
	background-color: #4682b4;
	margin: 1px;
}

.simply-events-loadspinner.sls-wrapper .sls-loader-text {
	color: #4682b4;
}

body.simply-events-calendar-fullscreen {
	overflow: hidden;
}


@media only screen and (min-width : 768px) {
	.simply-events-calendar.fullscreen .simply-events-calendar-events {
		height: 100%;
	}
}

@media only screen and (max-width : 768px) {
	.simply-events-calendar.fullscreen .calendar-content .calendar-content__calendar-table-wrap,
	.simply-events-calendar.fullscreen .calendar-content .calendar-events-views {
		width: 100%;
	}

	.simply-events-calendar.fullscreen .calendar-content {
		display: block;
		height: initial;
	}
}

/* 
	admin bar position changes to absolute by default.
	This will cause the admin bar to position relative to body
	and not the current viewport which is not what we want.
*/
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}
