/**
 * Main Admin Area styles.
 *
 * @package Simply Events
 */

.se-wrapper {
	font-size: 14px;
}
.se-wrapper .se-header {
	font-weight: 500;
	padding: 10px 0;
	margin-top: 10px;
}
.se-label, .se-input {
	vertical-align: baseline;
}

.se-select-date {
	padding-left: 15px;
	vertical-align: baseline;
}

#wpbody .se-wrapper select.se-select-input {
	vertical-align: baseline;
}

.se-wrapper__date-repeat-wrapper {
	margin: 10px 0px;
}

.se-wrapper .se-wrapper__links .se-label {
	display: inline-block;
	width: 49.5%;
}

.se-wrapper .se-wrapper__links .se-label .se-input {
	width: 100%;
}

.date-repeat-wrapper__wrap {
	margin: 10px 15px;
}

.date-repeat-wrapper__wrap .se-repeat-interval-label {
	padding-left: 10px;
}

.date-repeat-wrapper__wrap .se-repeat-interval-label .se-repeat-interval-text {
	padding-left: 5px;
}

.se-repeat-end-wrap,
.se-repeat-weekly-wrap,
.se-repeat-monthly-wrap {
	margin: 10px 0px;
}

.se-repeat-end-wrap > .se-label:first-child {
	margin-top: 5px;
}

.se-repeat-end-wrap .se-label {
    display: block;
    padding: 5px 10px;
}

.se-repeat-end-wrap .se-repeat-choice-label {
	display: inline-block;
	width: 35px;
}

.se-repeat-weekly-wrap .se-label {
	display: inline-block;
	padding-left: 5px;
	margin: 5px;
	min-width: 70px;
}

@media screen and (max-width: 782px) {
	#wpbody .se-wrapper select.se-select-input, .se-input {
		height: 40px;
	}

	.se-wrapper .se-select-date {
		display: block;
	    padding: 5px 0px;
	}

	.se-wrapper .se-select-date input {
	    border-spacing: 0;
	    width: 100%;
	    clear: both;
	    margin: 0;
	}

	.se-repeat-weekly-wrap .se-repeat-weekly-day-label {
		display: block;
		margin: 10px 0px;
	}

	.date-repeat-wrapper__wrap {
		margin: 10px 30px;
	}
}

@media screen and (max-width: 480px) {
	.se-wrapper .se-wrapper__links .se-label {
		width: 100%;
		padding: 5px 0px;
	}

	.se-wrapper .date-repeat-wrapper__wrap .se-repeat-interval-label {
		padding: 5px 0px;
		display: block;
	}

	.se-repeat-monthly-wrap .se-label {
		display: block;
		width: 100%;
		margin: 10px 0px;
	}

}

@media screen and (max-width: 336px) {
	#select-start-meridian, #select-end-meridian {
		display: block;
		margin-left: 35px;
	}
}